.App {
  background-color: #50BAFF;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  position: absolute;
}

.logo-image {
  position: absolute;
}

.edit-profile {
  padding: 15px;
}

.logo {
  max-width: 170px;
  margin: 10px
}

.coin {
  max-width: 40px;
  margin: 10px
}

.coin-text {
  padding-top: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
